html, body,#root, .container {
    height: 100%;
    border:  none;
}
.container{
    display: flex;
    
    flex-direction: row; 
    overflow: hidden;
}

.mainComponent {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0.33;
}